# List and List Function

In [29]:
num_list = [1,2,3,4,5,6,7,8,9,10]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
str_list = ['Banana','Apple','Watermelon','Grapes','Mango','Pineapple']
print(str_list)

['Banana', 'Apple', 'Watermelon', 'Grapes', 'Mango', 'Pineapple']

In [31]:
com_list =[101,102,102,104,105,'Cat','Dog','Monkey','Cow']
print(com_list)

[101, 102, 102, 104, 105, 'Cat', 'Dog', 'Monkey', 'Cow']

In [53]:
list_inside_list = [['emp-1','emp-2'],[0,1,2,3,4,5,6],'ABC','LMN',[1001,1002,1003,'emp-3','emp-4'],[11,22,33,44,['emp-11','emp-22','emp-33']]]
print(list_inside_list)

[['emp-1', 'emp-2'], [0, 1, 2, 3, 4, 5, 6], 'ABC', 'LMN', [1001, 1002, 1003, 'emp-3', 'emp-4'], [11, 22, 33, 44, ['emp-11', 'emp-22', 'emp-33']]]

In [33]:
print(num_list[1])
print(num_list[5])
print(num_list[-1])
print(num_list[-4])

2
6
10
7

In [34]:
print(num_list[1:5])

[2, 3, 4, 5]

In [35]:
print(num_list[1:-4])
print(num_list[0:-3])
print(num_list[1:-7])

[2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[2, 3]

In [36]:
print(num_list[::])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
print(num_list[::2])
print(num_list[::4])
# returns the number -1 (2-1=1)

[1, 3, 5, 7, 9]
[1, 5, 9]

In [38]:
print(num_list[1:6:2])
print(num_list[0:8:2])
print(num_list[2:9:3])

[2, 4, 6]
[1, 3, 5, 7]
[3, 6, 9]

In [39]:
print(list_inside_list[0][0])
print(list_inside_list[2][3])
print(list_inside_list[1][3])

emp-1
emp-3
3

In [58]:
print(list_inside_list[5])
print(list_inside_list[5][4])
print(list_inside_list[5][4][2])

[11, 22, 33, 44, ['emp-11', 'emp-22', 'emp-33']]
['emp-11', 'emp-22', 'emp-33']
emp-33

In [61]:
name_list = ['Varun','Ajap','Piyush','Harshal','Darpan','Badal','Vicky']
name_list[1] = 'Aniket'
name_list[5] = 'Bunty'

In [62]:
print(name_list)

['Varun', 'Aniket', 'Piyush', 'Harshal', 'Darpan', 'Bunty', 'Vicky']

 ## Append

In [63]:
name_list.append('Badal')

In [64]:
print(name_list)

['Varun', 'Aniket', 'Piyush', 'Harshal', 'Darpan', 'Bunty', 'Vicky', 'Badal']

## Inserting Elements

In [79]:
name_list.insert(3,'Dadu')
print(name_list)

['Varun', 'Aniket', 'Piyush', 'Dadu', 'Dadu', 'Dadu', 'Harshal', 'Darpan', 'Bunty', 'Vicky', 'Badal']

## Removing Elements

In [76]:
name_list.remove('Dadu')

In [80]:
print(name_list)

['Varun', 'Aniket', 'Piyush', 'Dadu', 'Dadu', 'Dadu', 'Harshal', 'Darpan', 'Bunty', 'Vicky', 'Badal']

## POP

In [82]:
name_list.pop(5)
print(name_list)

['Varun', 'Aniket', 'Piyush', 'Dadu', 'Dadu', 'Darpan', 'Bunty', 'Vicky', 'Badal']

In [84]:
print(name_list.pop(3))

Dadu

In [85]:
print(name_list)

['Varun', 'Aniket', 'Piyush', 'Darpan', 'Bunty', 'Vicky', 'Badal']

In [83]:
a = name_list.pop(4)
print(a)

Dadu

## Clearing List

In [87]:
y = [1,2,3,4,5,6,7,8,9]
y.clear()

In [88]:
print(y)

[]

## Coping List

In [89]:
print(str_list)

['Banana', 'Apple', 'Watermelon', 'Grapes', 'Mango', 'Pineapple']

In [90]:
str_list2 = str_list.copy()

In [91]:
print(str_list)
print(str_list2)

['Banana', 'Apple', 'Watermelon', 'Grapes', 'Mango', 'Pineapple']
['Banana', 'Apple', 'Watermelon', 'Grapes', 'Mango', 'Pineapple']